.container {
  position: relative;
  display: flex;
  flex: 1 0 auto;
  max-width: 1440px;
  height: 655px;
  background: url(./assets/background.svg) no-repeat top center;
  padding: 0 130px;
  margin: 0 auto;
  margin-top: -1px;
}

@media screen and (max-width: 992px) {
  .container {
    background: linear-gradient(93.19deg, #255d8b 2.29%, #3a80ba 96.79%);
    padding: 10px;
    height: 400px;
  }
}

.content {
  width: 580px;
}

.img {
  margin: 0 auto;
}

@media screen and (max-width: 992px) {
  .img {
    display: none;
  }
}

.title {
  font-style: normal;
  font-size: 48px;
  color: #ffffff;
  margin: 0;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #ffffff;
}

.btn {
  display: inline-block;
  width: 154px;
  height: 56px;
  text-decoration: none;
  background: rgb(255, 255, 255);
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
  color: rgb(58, 128, 186);
  line-height: 56px;
  transition-duration: 0.4s;
}

.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 1439px) {
  .section {
    position: relative;
    overflow: hidden;
  }
  .leftBgc {
    position: absolute;
    left: -1495px;
    width: 1500px;
    height: 510px;
    background-color: #255d8b;
  }
  .rightBgc {
    position: absolute;
    right: -1495px;
    width: 1500px;
    height: 110px;
    background-color: #3a80ba;
  }
}
