.container {
  position: relative;
  max-width: 1440px;
  flex: 1 0 auto;
  background: linear-gradient(92.09deg, #255d8b 2.29%, #3a80ba 96.79%);
  margin: 0 auto;
  padding: 0 130px;
}

@media (min-width: 1439px) {
  .header {
    display: flex;
    overflow: hidden;
  }
  .leftBgc {
    position: absolute;
    left: -1495px;
    top: 0;
    width: 1500px;
    height: 50px;
    background-color: #255d8b;
  }
  .rightBgc {
    position: absolute;
    right: -1495px;
    top: 0;
    width: 1500px;
    height: 50px;
    background-color: #3a80ba;
  }
}
