.container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 80px;
  padding-top: 25px;
}

.btn {
  width: 105px;
  height: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #cccccc;
  text-decoration: none;
}

.users {
  margin-bottom: 25px;
}

@media (min-width: 600px) {
  .container {
    padding: 0 130px;
    padding-top: 25px;
  }
}
