.container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}

.title {
  width: 253px;
  height: 39px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  color: #1a1a1a;
}

.th {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background: #3a80ba;
  padding-top: 14px;
  padding-bottom: 14px;
}

.th:first-child {
  min-width: 50px;
  border-radius: 10px 0 0 0;
}

.th:last-child {
  border-radius: 0 10px 0 0;
}

.tr {
  cursor: pointer;
}

.tr:hover .td {
  font-weight: bold;
}

.td {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #1a1a1a;
  background: #fbfbfb;
}

.tr td {
  height: 32px;
  background-color: #fbfbfb;
}

.tr:nth-child(even) td {
  background-color: #f1f1f1;
}

.tr:last-child .td:first-child {
  border-radius: 0 0 0 10px;
}

.tr:last-child .td:last-child {
  border-radius: 0 0 10px 0;
}
