.userPage {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  flex: 1 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 80px;
  padding-top: 25px;
}

.name {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  color: #1a1a1a;
}

@media (min-width: 600px) {
  .container {
    padding: 0 130px;
    padding-top: 25px;
  }
}
